{% extends "layout.html" %}
{% block content %}
<div class="uk-card-media-top">
  <img class="uk-responsive-width uk-responsive-height" src="{{url_for('static', filename = 'Work-with-us.jpg')}}" alt="Image">
</div>
<div class="uk-card-body">
  <p class="uk-text-bold uk-text-justify uk-text-middle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
  </p>
  <p class="uk-text-bold uk-text-justify uk-text-middle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur semper sagittis. Ut at arcu eget sapien faucibus consectetur. Phasellus hendrerit convallis ipsum ac tempus. Curabitur sollicitudin, velit vel cursus dictum, elit justo venenatis urna, ut sagittis arcu eros id nibh. Quisque odio ex, vestibulum vel laoreet at, interdum non urna. Suspendisse vitae ligula venenatis, molestie nibh et, rhoncus nulla. Etiam in sem et erat tincidunt ultricies. Nullam sed tempus tortor. Integer viverra ex neque, quis tempor erat condimentum sed. Nam tortor tellus, eleifend eu lacinia sit amet, tempus vel eros. Integer fringilla tristique ligula eu mattis. Nulla tempus placerat arcu sed laoreet.
  </p>
</div>
{% endblock %}
